<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="CheckersTcp"
                 maxReceivedMessageSize="2097152"
                 maxBufferSize="2097152"
                 maxBufferPoolSize="524288"
                 sendTimeout="00:05:00"
                 receiveTimeout="00:30:00">
          <readerQuotas maxStringContentLength="262144"
                        maxArrayLength="524288"
                        maxDepth="64"
                        maxBytesPerRead="65536"
                        maxNameTableCharCount="32768" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="CheckersEndpoint"
                address="net.tcp://localhost:9100/CheckersService/"
                binding="netTcpBinding"
                bindingConfiguration="CheckersTcp"
                contract="CheckersClient.CheckersServer.ICheckersService" />
    </client>
  </system.serviceModel>
</configuration>
